{%
  set classes = [
  ]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>
  {% if content.content %}
  <div {{ region_attributes.content.addClass('full-bleed') }}>
    {{ content.content }}
  </div>
  {% endif %}
</div>
{% endif %}
