<div class="ubc-card ubc-card--inline flex">
  <div class="ubc-card__image">
    {{ content.image }}
  </div>
  <div class="ubc-card__body">
    {{ content.title }}
    {{ content.content }}
  </div>
  <div class="ubc-card__footer">
  {{ content.link }}
  </div>
</div>
